.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 9px 8px 8px 0px rgba(22, 119, 255, 0.28);
  -moz-box-shadow: 9px 8px 8px 0px rgba(22, 119, 255, 0.28);
  box-shadow: 9px 8px 8px 0px rgba(22, 119, 255, 0.28);
  background-color: #fff;
}

.Form .ant-form-item {
  width: 100%;
}

.Button {
  width: 100%;
}

.LinkBTN {
  padding: 0;
}

.LinkBTN::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-inline-end: -5px;
  margin-block-start: 4px;
  background-image: url(../../../public/Icon/Telegram.svg);
  background-size: contain;
}

@media (max-width: 768px) {
  .Form {
    width: 80%;
    padding: 20px;
  }

  .FormContainer {
    padding: 10px;
  }

  .Button {
    font-size: 14px;
  }

  .LinkBTN::before {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 320px) {
  .Form {
    width: 90%;
    padding: 15px;
  }

  .Button {
    font-size: 12px;
  }

  .LinkBTN::before {
    width: 14px;
    height: 14px;
  }
}